.ust{
    width: 800px;
    height: 50px;
    margin-left: 400px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.685);
}

.baslik{
    text-align: center;
    color: white;
    font-size: 18px;
}

.orta{
    border: solid 2px;
    border-color: red;
    margin-top: 80px;
    width: 800px;
    border-radius: 10px;
    height: 700px;
}

.aa1{
    position: absolute;
    margin-top: -45px;
    margin-left: 380px;
    color: blue;
    font-size: 28px;
}

.ort{
    background-color: red;
    width: 400px;
    height: 170px;
    margin-left: 240px;
    border-radius: 10px;
    border: solid 2px;
    border-color: white;
}
.no1{
    position: absolute;
    margin-left: 23px;
    margin-top: 20px;
    color: white;
}
.ad1{
    margin-left: 62px;
    position: absolute;
    margin-top: 50px;
    color: white;
}
.sy1{
    margin-left: 36px;
    position: absolute;
    margin-top: 80px;
    color: white;
}

#sy{position: absolute; margin-left: 105px; margin-top: 80px; font-size: 18px;}
#num{position: absolute; margin-left: 105px; margin-top: 20px; font-size: 18px;}
#ad{position: absolute; margin-left: 105px; margin-top: 50px; font-size: 18px;}

.ek{
    position: absolute;
    margin-top: 120px;
    margin-left: 120px;
    height: 25px;
    width: 65px;
}
.list{
    position: absolute;
    margin-top: 120px;
    margin-left: 210px;
    height: 25px;
    width: 65px;
}

.son{
    background-color: rgba(124, 104, 238, 0.753);
    margin-left: 240px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
}

.c1{
    margin-left: 60px;
    color: white;
    font-size: 18px;
}
.c2{
    margin-left: 60px;
    color: white;
    font-size: 18px;
}
.c3{
    margin-left: 60px;
    color: white;
    font-size: 18px;
}

.tb{
    margin-left: 70px;
}